.main {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 1fr;
    gap: 10px;
    min-height: 100vh;
}

.logoContainer, .footerContainer {
    background-color: #000F3C;
}
