@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

:root {
    --blue: #0050ff;
    --magenta: #ff007a;
    --dark: #020617;
    --light: #ffffff;
    --bg-grad: linear-gradient(135deg, #121b64 0%, #0050ff 30%, #7a2ff7 65%, #ff007a 100%);
}
